* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  line-height: 1.6rem;
  box-sizing: border-box;
}
:root {
  --primary-color: rgb(17, 46, 95);
  --white-color: #ffffff;
  --black-color: #000;
  --text-color: #333333;
}

